<!doctype html>
<html lang="en">
    <head>
        {%include 'includes/head.html' %}
    </head>
    <body>
        {%include 'includes/banner.html' %}
        <div class="content">
            <h1>Unit 1 - Sol LeWitt in Vanilla JS</h1>
            <p>My take on the materials presented in this lesson. <a href="https://www.youtube.com/watch?v=xkBheRZTkaw&t=8186s">Timestamped link to video.</a></p>
            <script src={{ url_for('static', filename='unit1/unit1.1.js') }}></script>
            <script src={{ url_for('static', filename='unit1/unit1.2.js') }}></script>
            <script src={{ url_for('static', filename='unit1/unit1.3.js') }}></script>
        </div>
        {%include 'includes/footer.html' %}
    </body>
</html>
